[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
alpha-vantage = "*"
apscheduler = "*"
flask = "*"

[packages]
pytezos = "*"

[requires]
python_version = "3.7"
