alpha-vantage==2.1.2
alphavantage==0.0.11
APScheduler==3.6.3
argcomplete==1.9.3
base58==1.0.3
boto3==1.10.35
botocore==1.13.35
certifi==2019.11.28
cffi==1.13.2
cfn-flip==1.2.2
chardet==3.0.4
Click==7.0
docutils==0.15.2
durationpy==0.5
fastecdsa==1.7.5
fire==0.2.1
Flask==1.1.1
foil==0.2.7
future==0.16.0
hjson==3.0.1
idna==2.8
iso8601==0.1.12
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.3
kappa==0.6.0
lambda-packages==0.20.0
loguru==0.4.0
MarkupSafe==1.1.1
mnemonic==0.19
netstruct==1.1.2
pendulum==2.0.5
placebo==0.9.0
ply==3.11
pyblake2==1.1.2
pycparser==2.19
pysodium==0.7.3
pytezos==2.4.4
python-dateutil==2.6.1
python-slugify==1.2.4
pytz==2019.3
pytzdata==2019.3
PyYAML==5.2
requests==2.22.0
s3transfer==0.2.1
secp256k1==0.13.2
simplejson==3.17.0
six==1.13.0
termcolor==1.1.0
toml==0.10.0
tqdm==4.19.1
troposphere==2.5.3
tzlocal==2.0.0
Unidecode==1.1.1
urllib3==1.25.7
Werkzeug==0.16.0
wsgi-request-logger==0.4.6
zappa==0.48.2
