-i https://pypi.org/simple
base58==1.0.3
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
fastecdsa==1.7.5
fire==0.3.0
idna==2.9
loguru==0.4.1
mnemonic==0.19
netstruct==1.1.2
pendulum==2.1.0
ply==3.11
pyblake2==1.1.2
pycparser==2.20
pysodium==0.7.5
pytezos==2.4.4
python-dateutil==2.8.1
pytzdata==2019.3
pyyaml==5.3.1
requests==2.23.0
secp256k1==0.13.2
simplejson==3.17.0
six==1.14.0
termcolor==1.1.0
tqdm==4.45.0
urllib3==1.25.8
